<mat-card *ngIf="admin">
  <mat-card-header>
      <mat-card-title>
          <h1>Wijzigen project</h1>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyProject()">
        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #projectName name="projectName" [value]="selectedProject.projectName"  required [(ngModel)]="selectedProject.projectName" #projectName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput name="projectDescription"  #projectDescription [value]="selectedProject.projectDescription"required [(ngModel)]="selectedProject.projectDescription" #projectDescription="ngModel">
        </mat-form-field><br>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedCustomer" [formControl]="fillCustomer"  placeholder="Kies een klant" name="customer" required>
            <mat-option *ngFor="let customer of customers" [value]="customer.customer_id">
              {{ customer.customer_name }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
              <br>
          <button [disabled]="!registerForm.valid" mat-raised-button type="submit" class="mat-primary" >Wijzigen</button>
      </form>
  </mat-card-content>
</mat-card>
<p *ngIf="!admin">U bent niet geauthoriseerd</p>