<div class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuwe taak toevoegen</button>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="userStoryName">
            <mat-header-cell *matHeaderCellDef> Taak </mat-header-cell>
            <mat-cell *matCellDef="let userStory"> {{userStory.userStoryName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="userStoryDescription">
            <mat-header-cell *matHeaderCellDef> Taakbeschrijving </mat-header-cell>
            <mat-cell *matCellDef="let userStory"> {{userStory.userStoryDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="categoryName">
            <mat-header-cell *matHeaderCellDef> Categorie </mat-header-cell>
            <mat-cell *matCellDef="let userStory"> {{userStory.categoryName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="projectName">
              <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
              <mat-cell *matCellDef="let userStory"> {{userStory.projectName}} </mat-cell>
            </ng-container>

          <ng-container matColumnDef="userStoryModify">
              <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
              <mat-cell *matCellDef="let userStory"> <a *ngIf="admin"><mat-icon class="edit" (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="userStoryDelete">
                <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
                <mat-cell *matCellDef="let userStory"> <a *ngIf="admin"><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
              </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedUserStory  == row}"></mat-row>
        </mat-table>
      </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
        <div class="col-3 wijzig">
          <app-edit-tasks></app-edit-tasks>
        </div>
      </mat-sidenav>
      </mat-sidenav-container>
      </div>
    </div>
