<div class="row">
  <div class="example-container mat-elevation-z8 col-sm-10">
    <div class="example-header">
      <div class="row">
        <mat-checkbox *ngIf="currentRole!='employee'"
          #versionsCheckBox
          [value]="" [checked]="oldVersionsChecked"
          (change)="toggleOldVersions($event); weekFilter.isDeletedArg=$event.checked; weekFilter.isCurrentArg=!$event.checked; dataToTable()"
          >Laat oude of verwijderde versies zien
        </mat-checkbox>
      </div>
      <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> 
      </mat-form-field>-->
      <div class="row">
        <mat-tab-group class="col-sm-12" (selectedTabChange)="tabChange($event)">
          <mat-tab *ngFor="let week of availableWeeks" label="{{week}}">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- entryDescription Column -->  
      <ng-container matColumnDef="entryDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-form-field class="mat-header-search">
            <input type="text" (input)="weekFilter.descriptionArg =  $event.target.value; dataToTable()" matTextareaAutosize matInput placeholder="Beschrijving">
          </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="">{{element.entryDescription}}</div>
        </mat-cell>
      </ng-container>
      
      <!-- sprint_name Column -->
      <ng-container matColumnDef="entryStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field class="mat-header-search">
              <input type="text" (input)="weekFilter.statusArg =  $event.target.value; dataToTable()" matTextareaAutosize matInput placeholder="Status">
            </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="">{{element.entryStatus}}</div>
        </mat-cell>
      </ng-container>
      
      <!-- userstory Column -->
      <ng-container matColumnDef="entryDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class=" mat-header-search">
                  <input matInput  [matDatepicker]="searchdatePicker" 
                                  (input)="weekFilter.dateArg =  $event.target.value; dataToTable()" 
                                  (dateChange)="weekFilter.dateArg =  $event.target.value; dataToTable()" 
                                  placeholder="Datum">
                  <mat-datepicker-toggle matSuffix [for]="searchdatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #searchdatePicker></mat-datepicker>
                </mat-form-field>
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <div class="">{{dateHelper.normalizeDateString(element.entryDate)}}</div>
          </mat-cell>
      </ng-container>

      <!-- starttime Column -->
      <ng-container matColumnDef="entryStartTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="mat-header-search">
                  <input type="time" matTextareaAutosize matInput 
                  (input)="weekFilter.startTimeArg =  $event.target.value; dataToTable()" 
                  placeholder="Starttijd">
                </mat-form-field>
        </mat-header-cell>  
        <mat-cell *matCellDef="let element"> 
          {{element.entryStartTime}} 
        </mat-cell>
      </ng-container>

      <!-- endtime Column -->
      <ng-container matColumnDef="entryEndTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="mat-header-search">
                  <input type="time" matTextareaAutosize matInput 
                  (input)="weekFilter.endTimeArg =  $event.target.value; dataToTable()" 
                  placeholder="Eindtijd">
                </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          {{element.entryEndTime}} 
        </mat-cell>
      </ng-container>

      <!-- exception Column-->
      <ng-container matColumnDef="entryIsLocked">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="">Gesloten?</div>
                <mat-checkbox class=" mat-header-search"
                #isLockedCheckBox
                [value]=""
                (change)="weekFilter.isLockedArg=$event.checked; dataToTable()"
                ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            {{(element.entryIsLocked ? 'Ja' : 'Nee')}} 
        </mat-cell>
      </ng-container>
    

      <ng-container matColumnDef="entryEmployeeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="mat-header-search">
                  <input type="text" matTextareaAutosize matInput 
                  (input)="weekFilter.employeeNameArg =  $event.target.value; dataToTable()" 
                  placeholder="Medewerker">
                </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
              {{element.entryEmployeeName}} 
          </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="entryProjectName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="mat-header-search">
                  <input type="text" matTextareaAutosize matInput 
                  (input)="weekFilter.projectNameArg =  $event.target.value; dataToTable()" 
                  placeholder="Project" required>
                </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
              {{element.entryProjectName}} 
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entrySprintName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="mat-header-search">
                  <input type="text" matTextareaAutosize matInput 
                  (input)="weekFilter.sprintNameArg =  $event.target.value; dataToTable()" 
                  placeholder="Categorie">
                </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
              {{element.entrySprintName}} 
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entryUserstoryName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field class="mat-header-search">
                  <input type="text" matTextareaAutosize matInput 
                  (input)="weekFilter.userStoryNameArg =  $event.target.value; dataToTable()" 
                  placeholder="Taak">
                </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
              {{element.entryUserstoryName}} 
          </mat-cell>
      </ng-container>

      <ng-container *ngIf="oldVersionsChecked" matColumnDef="isDeleted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="">Verwijderd?</div>
                <mat-checkbox class="mat-header-search"
                #isDeletedCheckBox
                [value]="" 
                (change)="weekFilter.isDeletedArg=$event.checked; dataToTable()" 
                [checked]="true" 
                ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          {{(element.isDeleted ? 'Ja' : 'Nee')}} 
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="oldVersionsChecked" matColumnDef="isCurrent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="">Huidige versie?</div>
                <mat-checkbox class="mat-header-search"
                #isNotCurrentCheckBox
                [value]="" 
                (change)="weekFilter.isCurrentArg=$event.checked; dataToTable()" 
                [checked]="true"
                ></mat-checkbox>         
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
              {{(element.isCurrent ? 'Ja' : 'Nee')}} 
          </mat-cell>
      </ng-container>

      -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
    </mat-table>
  </div>
  <div class="col-sm-2 cud-bar">
    <form #entryForm="ngForm" (ngSubmit)="onSubmit()">

        <!-- <mat-form-field>
          <input type="text" matInput placeholder="Naam" required>
        </mat-form-field> -->

        <mat-form-field>
          <textarea matInput 
            #descriptionField="ngModel"  
            (change)="log(descriptionField)" 
            id="descriptionField" name="descriptionField" 
            placeholder="Beschrijving" 
            ngModel type="text" matTextareaAutosize 
            [value]="selectedEntry.entryDescription"
            [(ngModel)]="selectedEntry.entryDescription" required></textarea>
          <!-- <textarea matInput #descriptionField="ngModel"  (change)="log(test)" name="test" type="text"  placeholder="Beschrijving" required></textarea> -->
          <mat-error *ngIf="descriptionField.touched && !descriptionField.valid">Beschrijving is verplicht.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput #test="ngModel" (change)="log(test)" name="test" placeholder="Test" ngModel>
        </mat-form-field> -->

        
        <mat-form-field>
          <input matInput 
          #dateField="ngModel" [min]="minDate" [max]="maxDate" [matDatepicker]="entrydatePicker" 
          id="dateField" name="dateField" 
          placeholder="Datum" 
          ngModel 
          [value]="selectedEntry.entryDate" 
          [(ngModel)]="selectedEntry.entryDate" required>
          <!-- dit hoort bij input, maar doet het nog niet: [formControl]="entryDateControl"  -->
          <mat-datepicker-toggle matSuffix [for]="entrydatePicker"></mat-datepicker-toggle>
          <mat-datepicker #entrydatePicker></mat-datepicker>
          <mat-error *ngIf="dateField.touched && !dateField.valid">Datum is verplicht.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput 
            #startTimeField="ngModel"  
            (change)="log(startTimeField)" 
            id="startTimeField" name="startTimeField" 
            placeholder="Starttijd" 
            ngModel type="time" 
            [value]="selectedEntry.entryStartTime"
            [(ngModel)]="selectedEntry.entryStartTime" required>
          <mat-error *ngIf="startTimeField.touched && !startTimeField.valid">Starttijd is verplicht.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput 
            #endTimeField="ngModel"  
            (change)="log(endTimeField)" 
            id="endTimeField" name="endTimeField" 
            placeholder="Eindtijd" 
            ngModel type="time" 
            [value]="selectedEntry.entryEndTime"
            [(ngModel)]="selectedEntry.entryEndTime" required>
          <mat-error *ngIf="endTimeField.touched && !endTimeField.valid">Eindtijd is verplicht.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Project" [(ngModel)]="selectedEntry.entryProjectFk" name="project">
            <mat-option *ngFor="let project of projectList" [value]="project.projectId">{{project.projectName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Sprint">
            <mat-option>null</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Userstory">
            <mat-option>null</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="mat-primary" >Wijzigen</button>
    </form>
  </div>
</div>