<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Entry bewerken</h1>
        </mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <form #entryForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <mat-form-field class="col-sm-3">
          <textarea matInput 
            #descriptionField="ngModel"   
            id="descriptionField" name="descriptionField" 
            placeholder="Beschrijving" 
            ngModel type="text" matTextareaAutosize 
            [value]="selectedEntry.entryDescription"
            [(ngModel)]="selectedEntry.entryDescription" required></textarea>
          <!-- <textarea matInput #descriptionField="ngModel"  (change)="log(test)" name="test" type="text"  placeholder="Beschrijving" required></textarea> -->
          <mat-error *ngIf="descriptionField.touched && !descriptionField.valid">Beschrijving is verplicht.</mat-error>
        </mat-form-field>
        
        <mat-form-field class="col-sm-1">
          <input matInput 
          #dateField="ngModel" [min]="minDate" [max]="maxDate" [matDatepicker]="entrydatePicker" 
          id="dateField" name="dateField" 
          placeholder="Datum" 
          ngModel 
          [(ngModel)]="selectedEntry.entryDate" required>
          <!-- dit hoort bij input, maar doet het nog niet: [formControl]="entryDateControl"  -->
          <mat-datepicker-toggle matSuffix [for]="entrydatePicker"></mat-datepicker-toggle>
          <mat-datepicker #entrydatePicker></mat-datepicker>
          <mat-error *ngIf="dateField.touched && !dateField.valid">Datum is verplicht.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-1">
          <input matInput 
            #startTimeField="ngModel"  
            id="startTimeField" name="startTimeField" 
            placeholder="Starttijd" 
            ngModel type="time" 
            [value]="selectedEntry.entryStartTime"
            [(ngModel)]="selectedEntry.entryStartTime" required>
          <mat-error *ngIf="startTimeField.touched && !startTimeField.valid">Starttijd is verplicht.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-1">
          <input matInput 
            #endTimeField="ngModel"  
            id="endTimeField" name="endTimeField" 
            placeholder="Eindtijd" 
            ngModel type="time" 
            [value]="selectedEntry.entryEndTime"
            [(ngModel)]="selectedEntry.entryEndTime" required>
          <mat-error *ngIf="endTimeField.touched && !endTimeField.valid">Eindtijd is verplicht.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-2">
          <mat-select #projectSelect (click)="updateProjects()" 
            placeholder="Project" [(ngModel)]="selectedEntry.entryProjectFk" 
            name="projectSelect">
            <mat-option *ngFor="let project of projectList" [value]="project.projectId">{{project.projectName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-sm-2">
          <mat-select #categorySelect (click)="updateCategories()" 
            placeholder="Categorie" [(ngModel)]="selectedEntry.entrySprintFk" 
            name="categorySelect">
            <mat-option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.categoryName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-sm-2">
            <mat-select #userStorySelect (click)="updateUserStories()" 
            placeholder="UserStory" [(ngModel)]="selectedEntry.entryUserstoryFk" 
            name="userStorySelect">
            <mat-option *ngFor="let userStory of userStoryList" [value]="userStory.userStoryId">{{userStory.userStoryName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
          <button mat-raised-button color="primary" type="submit" class="mat-primary">Opslaan</button>
          <button mat-raised-button (click)="close()">Sluiten</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>