<div class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuw Klant Aanmaken</button>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="customerName">
            <mat-header-cell *matHeaderCellDef> Klant naam </mat-header-cell>
            <mat-cell *matCellDef="let Customer"> {{Customer.customer_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="customerDescription">
            <mat-header-cell *matHeaderCellDef> Klant Description </mat-header-cell>
            <mat-cell *matCellDef="let Customer"> {{Customer.customer_description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="customerModify">
            <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
            <mat-cell *matCellDef="let Customer"> <a *ngIf="admin"><mat-icon class="edit"  (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="customerDelete">
              <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
              <mat-cell *matCellDef="let Customer"> <a *ngIf="admin"> <mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedCustomer  == row}"></mat-row>
        </mat-table>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
    <div class="col-3 wijzig">
      <app-modify-customer></app-modify-customer>
    </div>
  </mat-sidenav>
  </mat-sidenav-container>
  </div>
</div>