<div class="row">
    <div class="col">
      <mat-sidenav-container class="example-container">
      <mat-sidenav-content class="hoofd">
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
              <span matTooltip="Klik hier om nieuwe gebruiker toe te voegen" matTooltipShowDelay="750">
                <button mat-raised-button type="submit" class="btn btn-outline-primary btn-sm" (click)="openCreateDialog()">Nieuw Account Aanmaken</button>
              </span>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
          <mat-table #table [dataSource]="dataSource">

            <!-- account_name Column -->  
            <ng-container matColumnDef="account_name">
              <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeFirstname}}  {{ element.employeeLastname}} </mat-cell>
            </ng-container>
            
            <!-- account_role Column -->
            <ng-container matColumnDef="account_role">
              <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeRole}} </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeEmail}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="employeeModify" >
                <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
                <mat-cell *matCellDef="let Customer"> <a *ngIf="admin"><mat-icon class="edit" (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="employeeDelete">
                  <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
                  <mat-cell *matCellDef="let Customer"> <a *ngIf="admin"><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
                </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedEmployee  == row}"></mat-row>
          </mat-table>
        </div>
      </mat-sidenav-content>
      <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
          <div class="col-3 wijzig">
            <app-modify></app-modify>
          </div>
        </mat-sidenav>
        </mat-sidenav-container>
        </div>
      </div>
