<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Wijzigen Customer</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyCustomer()">
          <mat-form-field class="" style="margin-top: 20px">
            <input matInput #customerName name="customerName" [value]="selectedCustomer.customer_name"  required [(ngModel)]="selectedCustomer.customer_name" #customerName="ngModel">
          </mat-form-field><br>
          <mat-form-field class="">
            <input matInput #customerDescription   name="customerDescription"  [value]="selectedCustomer.customer_description"required [(ngModel)]="selectedCustomer.customer_description" #customerDescription="ngModel">
          </mat-form-field><br>
                <br>
            <button mat-raised-button type="submit" class="mat-primary" >Wijzigen</button>
        </form>
    </mat-card-content>
  </mat-card>