<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- project_name Column -->
    <ng-container matColumnDef="project_name">
      <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
      <mat-cell *matCellDef="let project"> {{project.projectName}} </mat-cell>
    </ng-container>

    <!-- project_description Column -->
    <ng-container matColumnDef="project_description">
      <mat-header-cell *matHeaderCellDef> Project Description </mat-header-cell>
      <mat-cell *matCellDef="let project"> {{project.projectDescription}} </mat-cell>
    </ng-container>

    <!-- customer_name Column -->
    <ng-container matColumnDef="project_status">
      <mat-header-cell *matHeaderCellDef> Project Status </mat-header-cell>
      <mat-cell *matCellDef="let project"> {{project.projectIsDeleted}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
