<div class="row">
  <div class="col">
    <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="hoofd">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <span matTooltip="Klik hier om nieuwe project toe te voegen" matTooltipShowDelay="750">
              <button mat-raised-button type="submit" 
                class="btn btn-outline-primary btn-sm" 
                  (click)="openCreateDialog()"
                  *ngIf="admin">Nieuw project toevoegen</button>
            </span>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filteren">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
            <mat-cell *matCellDef="let Project"> {{Project.projectName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="projectDescription">
            <mat-header-cell *matHeaderCellDef> Projectbeschrijving </mat-header-cell>
            <mat-cell *matCellDef="let Project"> {{Project.projectDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="customerName">
            <mat-header-cell *matHeaderCellDef> Klantnaam </mat-header-cell>
            <mat-cell *matCellDef="let Project"> {{Project.customerName}} </mat-cell>
          </ng-container>

          <ng-container *ngIf="admin" matColumnDef="projectModify">
              <mat-header-cell *matHeaderCellDef> Wijzigen</mat-header-cell>
              <mat-cell *matCellDef="let Customer"> <a><mat-icon class="edit" (click)="sidenav.toggle()">edit</mat-icon></a></mat-cell>
            </ng-container>
  
            <ng-container *ngIf="admin" matColumnDef="projectDelete">
                <mat-header-cell *matHeaderCellDef> Verwijderen</mat-header-cell>
                <mat-cell *matCellDef="let Customer"> <a><mat-icon class="edit" (click)="openDialog()">delete</mat-icon></a></mat-cell>
              </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'selected': selectedProject  == row}"></mat-row>
        </mat-table>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav mode="side" position="end" [(opened)]="editClicked">
        <div class="col-3 wijzig">
          <app-edit-project></app-edit-project>
        </div>
      </mat-sidenav>
      </mat-sidenav-container>
      </div>
    </div>
