
<main class="form">
    
    <img src="assets/images/web.png" style = "display: block; margin-left:auto; margin-right:auto;"/>

        <h1>Welcome {{ currentEmployee }}</h1>

       <i class="fa fa-envelope prefix grey-text"></i>
       <input type="text" id="defaultForm-email" class="form-control" mdbActive placeholder="Email" #email>
  
       <i class="fa fa-lock prefix grey-text"></i>
       <input type="password" id="defaultForm-pass" class="form-control" mdbActive placeholder="Password" #password>
  
       <button class="btn btn-default waves-light" (click)="checkLogin(email.value, password.value)">Login</button>

  </main>
  