<img src='../assets/images/web.png' alt='logo'>
<div class="container">
    <div class="col-sm-6">
        <h3 class="display-3"><i class="fa fa-paper-plane" aria-hidden="true"></i></h3>
        <br>
        <div class="form-group">
            <mat-form-field>
            <input matInput #email placeholder="Enter your email" [formControl]="email_input" required>
            <mat-error *ngIf="email_input.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
        <mat-form-field>
            <input matInput #password placeholder="Enter your password" [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </div>
    <button type="button" (click)="checkLogin(email.value, password.value)" class="btn btn-success">Login</button>
</div>
  