<mat-card>
  <mat-card-header>
      <mat-card-title>
          <h1>Wijzigen taak</h1>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyUserStory()">
        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #userStoryName name="userStoryName" [value]="selectedUserStory.userStoryName"  required [(ngModel)]="selectedUserStory.userStoryName" #userStoryName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput name="userStoryDescription"  #userStoryDescription [value]="selectedUserStory.userStoryDescription"required [(ngModel)]="selectedUserStory.userStoryDescription" #userStoryDescription="ngModel">
        </mat-form-field><br>
        

        <mat-form-field>
          <mat-select [(ngModel)]="selectedCategory" [formControl]="fillCategory"  placeholder="Kies een categorie" name="category">
            <mat-option *ngFor="let category of categories" [value]="category.categoryId">
              {{ category.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field>
          <mat-select [(ngModel)]="selectedProject" [formControl]="fillProject"  placeholder="Kies een project" name="project">
            <mat-option *ngFor="let project of projects" [value]="project.projectId">
              {{ project.projectName }}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
    

              <br>
          <button mat-raised-button type="submit" class="mat-primary" >Wijzigen</button>
      </form>
  </mat-card-content>
</mat-card>