<mat-card *ngIf="admin">
  <mat-card-header>
      <mat-card-title>
          <h1>Wijzigen Account</h1>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form name="updateForm" #registerForm="ngForm" (ngSubmit)="modifyAccount()">
        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #employeeFirstname name="employeeFirstname" placeholder="Voornaam" [value]="selectedEmployee.employeeFirstname"  required [(ngModel)]="selectedEmployee.employeeFirstname" #employeeFirstname="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput name="employeeLastname"  #employeeLastname placeholder="Achternaam" [value]="selectedEmployee.employeeLastname"required [(ngModel)]="selectedEmployee.employeeLastname" #employeeLastname="ngModel">
        </mat-form-field><br>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedEmployee.employeeRole" placeholder="Kies een role" name="employeeRole" required>
              <mat-option *ngFor="let role of roles" [value]="role.roleName">
                {{ role.roleName }}
              </mat-option>
            </mat-select>
          </mat-form-field><br>

          <mat-form-field class="">
              <input matInput name="employeeEmail" email="true"  #employeeEmail placeholder="Email" [value]="selectedEmployee.employeeEmail"required [(ngModel)]="selectedEmployee.employeeEmail" #employeeEmail="ngModel">
            </mat-form-field><br>
            <mat-form-field class="">
                <input matInput name="employeePassword" type="password" placeholder="Wachtwoord"  #employeePassword [value]="selectedEmployee.employeePassword"required [(ngModel)]="selectedEmployee.employeePassword" #employeePassword="ngModel">
              </mat-form-field><br>
              <br>
          <button [disabled]="!registerForm.valid" mat-raised-button type="submit" class="btn btn-sm btn-primary" >Wijzigen</button>
      </form>
  </mat-card-content>
</mat-card>
<div *ngIf="!admin"><p>U bent niet geautoriseerd</p></div>