    <header class="s-wrap-f">
      <div class="grd s-w1">
        <div class="cnt">
            test
        </div>
      </div>
    </header>
    <div class="s-wrap-f">
      <nav class="grd s-w1-6">
        <div class="cnt">
            <ul>
                <li *ngFor="let link of links" class="grd s-w1">
                    <div class="cnt">
                        {{link.displayName}}
                    </div>
                </li>
            </ul>
        </div>
      </nav>
      <main class="grd s-w5-6">
          <div class="cnt">
              test
          </div>
      </main>
    </div>