<div class="container-fluid all">
    <header class="row">
      <div class="col-sm-12">
        <div class="cnt">
            test
        </div>
      </div>
    </header>
    <div class="row nav-content">
      <nav class="col-sm-2">
        <div class="cnt">
            <ul>
                <li *ngFor="let link of links" class="col-sm-12">
                    <a routerLink="/{{link.name}}" class="cnt pagelink">
                            {{link.displayName}}
                    </a>
                </li>
            </ul>
        </div>
      </nav>
      <main class="col-sm-10">
          <router-outlet></router-outlet>
      </main>
    </div>
</div>