:root{
    --xsmall: 0.2vw;
    --small: 0.4vw;
    --medium: 1vw;
    --large: 2vw;
    --xlarge: 3vw;
}
/*mobile*/
    /* s-m START*/
        .s-m0{
            margin: 0;
        }
        .s-ms{
            margin: var(--small);
        }
        .s-mm{
            margin: var(--medium);
        }
        .s-ml{
            margin: var(--large);
        }

        .s-m0-t{
            margin-top: 0;
        }
        .s-ms-t{
            margin-top: var(--small);
        }
        .s-mm-t{
            margin-top: var(--medium);
        }
        .s-ml-t{
            margin-top: var(--large);
        }

        .s-m0-b{
            margin-bottom: 0;
        }
        .s-ms-b{
            margin-bottom: var(--small);
        }
        .s-mm-b{
            margin-bottom: var(--medium);
        }
        .s-ml-b{
            margin-bottom: var(--large);
        }

        .s-m0-tb{
            margin-top: 0;
            margin-bottom: 0;
        }
        .s-ms-tb{
            margin-top: var(--small);
            margin-bottom: var(--small);
        }
        .s-mm-tb{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
        }
        .s-ml-tb{
            margin-top:  var(--large);
            margin-bottom: var(--large);
        }

        .s-m0-l{
            margin-left: 0;
        }
        .s-ms-l{
            margin-left: var(--small);
        }
        .s-mm-l{
            margin-left: var(--medium);
        }
        .s-ml-l{
            margin-left:  var(--large);
        }

        .s-m0-r{
            margin-right: 0;
        }
        .s-ms-r{
            margin-right: var(--small);
        }
        .s-mm-r{
            margin-right: var(--medium);
        }
        .s-ml-r{
            margin-right:  var(--large);
        }

        .s-m0-lr{
            margin-left: 0;
            margin-right: 0;
        }
        .s-ms-lr{
            margin-left: var(--small);
            margin-right: var(--small);
        }
        .s-mm-lr{
            margin-left: var(--medium);
            margin-right: var(--medium);
        }
        .s-ml-lr{
            margin-left:  var(--large);
            margin-right:  var(--large);
        }

        .s-m0-tl{
            margin-top: 0;
            margin-left: 0;
        }
        .s-ms-tl{
            margin-top: var(--small);
            margin-left: var(--small);
        }
        .s-mm-tl{
            margin-top: var(--medium);
            margin-left: var(--medium);
        }
        .s-ml-tl{
            margin-top:  var(--large);
            margin-left:  var(--large);
        }

        .s-m0-tr{
            margin-top: 0;
            margin-right: 0;
        }
        .s-ms-tr{
            margin-top: var(--small);
            margin-right: var(--small);
        }
        .s-mm-tr{
            margin-top: var(--medium);
            margin-right: var(--medium);
        }
        .s-ml-tr{
            margin-top:  var(--large);
            margin-right:  var(--large);
        }

        .s-m0-bl{
            margin-bottom: 0;
            margin-left: 0;
        }
        .s-ms-bl{
            margin-bottom: var(--small);
            margin-left: var(--small);
        }
        .s-mm-bl{
            margin-bottom: var(--medium);
            margin-left: var(--medium);
        }
        .s-ml-bl{
            margin-bottom:  var(--large);
            margin-left:  var(--large);
        }

        .s-m0-br{
            margin-bottom: 0;
            margin-right: 0;
        }
        .s-ms-br{
            margin-bottom: var(--small);
            margin-right: var(--small);
        }
        .s-mm-br{
            margin-bottom: var(--medium);
            margin-right: var(--medium);
        }
        .s-ml-br{
            margin-bottom:  var(--large);
            margin-right:  var(--large);
        }

        .s-m0-tbl{
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
        .s-ms-tbl{
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-left: var(--small);
        }
        .s-mm-tbl{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
            margin-left: var(--medium);
        }
        .s-ml-tbl{
            margin-top:  var(--large);
            margin-bottom:  var(--large);
            margin-left:  var(--large);
        }

        .s-m0-tbr{
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
        }
        .s-ms-tbr{
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-right: var(--small);
        }
        .s-mm-tbr{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
            margin-right: var(--medium);
        }
        .s-ml-tbr{
            margin-top:  var(--large);
            margin-bottom:  var(--large);
            margin-right:  var(--large);
        }

        .s-m0-tlr{
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .s-ms-tlr{
            margin-top: var(--small);
            margin-right: var(--small);
            margin-left: var(--small);
        }
        .s-mm-tlr{
            margin-top: var(--medium);
            margin-right: var(--medium);
            margin-left: var(--medium);
        }
        .s-ml-tlr{
            margin-top:  var(--large);
            margin-right:  var(--large);
            margin-left:  var(--large);
        }

        .s-m0-blr{
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .s-ms-blr{
            margin-bottom: var(--small);
            margin-right: var(--small);
            margin-left: var(--small);
        }
        .s-mm-blr{
            margin-bottom: var(--medium);
            margin-right: var(--medium);
            margin-left: var(--medium);
        }
        .s-ml-blr{
            margin-bottom:  var(--large);
            margin-right:  var(--large);
            margin-left:  var(--large);
        }
    /* s-m END*/

    /* s-p START*/
        .s-p0{
            padding: 0;
        }
        .s-ps{
            padding: var(--small);
        }
        .s-pm{
            padding: var(--medium);
        }
        .s-pl{
            padding: var(--large);
        }

        .s-p0-t{
            padding-top: 0;
        }
        .s-ps-t{
            padding-top: var(--small);
        }
        .s-pm-t{
            padding-top: var(--medium);
        }
        .s-pl-t{
            padding-top: var(--large);
        }

        .s-p0-b{
            padding-bottom: 0;
        }
        .s-ps-b{
            padding-bottom: var(--small);
        }
        .s-pm-b{
            padding-bottom: var(--medium);
        }
        .s-pl-b{
            padding-bottom: var(--large);
        }

        .s-p0-tb{
            padding-top: 0;
            padding-bottom: 0;
        }
        .s-ps-tb{
            padding-top: var(--small);
            padding-bottom: var(--small);
        }
        .s-pm-tb{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
        }
        .s-pl-tb{
            padding-top:  var(--large);
            padding-bottom: var(--large);
        }

        .s-p0-l{
            padding-left: 0;
        }
        .s-ps-l{
            padding-left: var(--small);
        }
        .s-pm-l{
            padding-left: var(--medium);
        }
        .s-pl-l{
            padding-left:  var(--large);
        }

        .s-p0-r{
            padding-right: 0;
        }
        .s-ps-r{
            padding-right: var(--small);
        }
        .s-pm-r{
            padding-right: var(--medium);
        }
        .s-pl-r{
            padding-right:  var(--large);
        }

        .s-p0-lr{
            padding-left: 0;
            padding-right: 0;
        }
        .s-ps-lr{
            padding-left: var(--small);
            padding-right: var(--small);
        }
        .s-pm-lr{
            padding-left: var(--medium);
            padding-right: var(--medium);
        }
        .s-pl-lr{
            padding-left:  var(--large);
            padding-right:  var(--large);
        }

        .s-p0-tl{
            padding-top: 0;
            padding-left: 0;
        }
        .s-ps-tl{
            padding-top: var(--small);
            padding-left: var(--small);
        }
        .s-pm-tl{
            padding-top: var(--medium);
            padding-left: var(--medium);
        }
        .s-pl-tl{
            padding-top:  var(--large);
            padding-left:  var(--large);
        }

        .s-p0-tr{
            padding-top: 0;
            padding-right: 0;
        }
        .s-ps-tr{
            padding-top: var(--small);
            padding-right: var(--small);
        }
        .s-pm-tr{
            padding-top: var(--medium);
            padding-right: var(--medium);
        }
        .s-pl-tr{
            padding-top:  var(--large);
            padding-right:  var(--large);
        }

        .s-p0-bl{
            padding-bottom: 0;
            padding-left: 0;
        }
        .s-ps-bl{
            padding-bottom: var(--small);
            padding-left: var(--small);
        }
        .s-pm-bl{
            padding-bottom: var(--medium);
            padding-left: var(--medium);
        }
        .s-pl-bl{
            padding-bottom:  var(--large);
            padding-left:  var(--large);
        }

        .s-p0-br{
            padding-bottom: 0;
            padding-right: 0;
        }
        .s-ps-br{
            padding-bottom: var(--small);
            padding-right: var(--small);
        }
        .s-pm-br{
            padding-bottom: var(--medium);
            padding-right: var(--medium);
        }
        .s-pl-br{
            padding-bottom:  var(--large);
            padding-right:  var(--large);
        }

        .s-p0-tbl{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .s-ps-tbl{
            padding-top: var(--small);
            padding-bottom: var(--small);
            padding-left: var(--small);
        }
        .s-pm-tbl{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
            padding-left: var(--medium);
        }
        .s-pl-tbl{
            padding-top:  var(--large);
            padding-bottom:  var(--large);
            padding-left:  var(--large);
        }

        .s-p0-tbr{
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
        }
        .s-ps-tbr{
            padding-top: var(--small);
            padding-bottom: var(--small);
            padding-right: var(--small);
        }
        .s-pm-tbr{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
            padding-right: var(--medium);
        }
        .s-pl-tbr{
            padding-top:  var(--large);
            padding-bottom:  var(--large);
            padding-right:  var(--large);
        }

        .s-p0-tlr{
            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .s-ps-tlr{
            padding-top: var(--small);
            padding-right: var(--small);
            padding-left: var(--small);
        }
        .s-pm-tlr{
            padding-top: var(--medium);
            padding-right: var(--medium);
            padding-left: var(--medium);
        }
        .s-pl-tlr{
            padding-top:  var(--large);
            padding-right:  var(--large);
            padding-left:  var(--large);
        }

        .s-p0-blr{
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .s-ps-blr{
            padding-bottom: var(--small);
            padding-right: var(--small);
            padding-left: var(--small);
        }
        .s-pm-blr{
            padding-bottom: var(--medium);
            padding-right: var(--medium);
            padding-left: var(--medium);
        }
        .s-pl-blr{
            padding-bottom:  var(--large);
            padding-right:  var(--large);
            padding-left:  var(--large);
        }
    /* s-p END*/

/*tablet*/
@media (min-width: 760px){
    /* m-m START*/
        .m-m0{
            margin: 0;
        }
        .m-ms{
            margin: var(--small);
        }
        .m-mm{
            margin: var(--medium);
        }
        .m-ml{
            margin: var(--large);
        }

        .m-m0-t{
            margin-top: 0;
        }
        .m-ms-t{
            margin-top: var(--small);
        }
        .m-mm-t{
            margin-top: var(--medium);
        }
        .m-ml-t{
            margin-top: var(--large);
        }

        .m-m0-b{
            margin-bottom: 0;
        }
        .m-ms-b{
            margin-bottom: var(--small);
        }
        .m-mm-b{
            margin-bottom: var(--medium);
        }
        .m-ml-b{
            margin-bottom: var(--large);
        }

        .m-m0-tb{
            margin-top: 0;
            margin-bottom: 0;
        }
        .m-ms-tb{
            margin-top: var(--small);
            margin-bottom: var(--small);
        }
        .m-mm-tb{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
        }
        .m-ml-tb{
            margin-top:  var(--large);
            margin-bottom: var(--large);
        }

        .m-m0-l{
            margin-left: 0;
        }
        .m-ms-l{
            margin-left: var(--small);
        }
        .m-mm-l{
            margin-left: var(--medium);
        }
        .m-ml-l{
            margin-left:  var(--large);
        }

        .m-m0-r{
            margin-right: 0;
        }
        .m-ms-r{
            margin-right: var(--small);
        }
        .m-mm-r{
            margin-right: var(--medium);
        }
        .m-ml-r{
            margin-right:  var(--large);
        }

        .m-m0-lr{
            margin-left: 0;
            margin-right: 0;
        }
        .m-ms-lr{
            margin-left: var(--small);
            margin-right: var(--small);
        }
        .m-mm-lr{
            margin-left: var(--medium);
            margin-right: var(--medium);
        }
        .m-ml-lr{
            margin-left:  var(--large);
            margin-right:  var(--large);
        }

        .m-m0-tl{
            margin-top: 0;
            margin-left: 0;
        }
        .m-ms-tl{
            margin-top: var(--small);
            margin-left: var(--small);
        }
        .m-mm-tl{
            margin-top: var(--medium);
            margin-left: var(--medium);
        }
        .m-ml-tl{
            margin-top:  var(--large);
            margin-left:  var(--large);
        }

        .m-m0-tr{
            margin-top: 0;
            margin-right: 0;
        }
        .m-ms-tr{
            margin-top: var(--small);
            margin-right: var(--small);
        }
        .m-mm-tr{
            margin-top: var(--medium);
            margin-right: var(--medium);
        }
        .m-ml-tr{
            margin-top:  var(--large);
            margin-right:  var(--large);
        }

        .m-m0-bl{
            margin-bottom: 0;
            margin-left: 0;
        }
        .m-ms-bl{
            margin-bottom: var(--small);
            margin-left: var(--small);
        }
        .m-mm-bl{
            margin-bottom: var(--medium);
            margin-left: var(--medium);
        }
        .m-ml-bl{
            margin-bottom:  var(--large);
            margin-left:  var(--large);
        }

        .m-m0-br{
            margin-bottom: 0;
            margin-right: 0;
        }
        .m-ms-br{
            margin-bottom: var(--small);
            margin-right: var(--small);
        }
        .m-mm-br{
            margin-bottom: var(--medium);
            margin-right: var(--medium);
        }
        .m-ml-br{
            margin-bottom:  var(--large);
            margin-right:  var(--large);
        }

        .m-m0-tbl{
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
        .m-ms-tbl{
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-left: var(--small);
        }
        .m-mm-tbl{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
            margin-left: var(--medium);
        }
        .m-ml-tbl{
            margin-top:  var(--large);
            margin-bottom:  var(--large);
            margin-left:  var(--large);
        }

        .m-m0-tbr{
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
        }
        .m-ms-tbr{
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-right: var(--small);
        }
        .m-mm-tbr{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
            margin-right: var(--medium);
        }
        .m-ml-tbr{
            margin-top:  var(--large);
            margin-bottom:  var(--large);
            margin-right:  var(--large);
        }

        .m-m0-tlr{
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .m-ms-tlr{
            margin-top: var(--small);
            margin-right: var(--small);
            margin-left: var(--small);
        }
        .m-mm-tlr{
            margin-top: var(--medium);
            margin-right: var(--medium);
            margin-left: var(--medium);
        }
        .m-ml-tlr{
            margin-top:  var(--large);
            margin-right:  var(--large);
            margin-left:  var(--large);
        }

        .m-m0-blr{
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .m-ms-blr{
            margin-bottom: var(--small);
            margin-right: var(--small);
            margin-left: var(--small);
        }
        .m-mm-blr{
            margin-bottom: var(--medium);
            margin-right: var(--medium);
            margin-left: var(--medium);
        }
        .m-ml-blr{
            margin-bottom:  var(--large);
            margin-right:  var(--large);
            margin-left:  var(--large);
        }
    /* m-m END*/

    /* m-p START*/
        .m-p0{
            padding: 0;
        }
        .m-ps{
            padding: var(--small);
        }
        .m-pm{
            padding: var(--medium);
        }
        .m-pl{
            padding: var(--large);
        }

        .m-p0-t{
            padding-top: 0;
        }
        .m-ps-t{
            padding-top: var(--small);
        }
        .m-pm-t{
            padding-top: var(--medium);
        }
        .m-pl-t{
            padding-top: var(--large);
        }

        .m-p0-b{
            padding-bottom: 0;
        }
        .m-ps-b{
            padding-bottom: var(--small);
        }
        .m-pm-b{
            padding-bottom: var(--medium);
        }
        .m-pl-b{
            padding-bottom: var(--large);
        }

        .m-p0-tb{
            padding-top: 0;
            padding-bottom: 0;
        }
        .m-ps-tb{
            padding-top: var(--small);
            padding-bottom: var(--small);
        }
        .m-pm-tb{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
        }
        .m-pl-tb{
            padding-top:  var(--large);
            padding-bottom: var(--large);
        }

        .m-p0-l{
            padding-left: 0;
        }
        .m-ps-l{
            padding-left: var(--small);
        }
        .m-pm-l{
            padding-left: var(--medium);
        }
        .m-pl-l{
            padding-left:  var(--large);
        }

        .m-p0-r{
            padding-right: 0;
        }
        .m-ps-r{
            padding-right: var(--small);
        }
        .m-pm-r{
            padding-right: var(--medium);
        }
        .m-pl-r{
            padding-right:  var(--large);
        }

        .m-p0-lr{
            padding-left: 0;
            padding-right: 0;
        }
        .m-ps-lr{
            padding-left: var(--small);
            padding-right: var(--small);
        }
        .m-pm-lr{
            padding-left: var(--medium);
            padding-right: var(--medium);
        }
        .m-pl-lr{
            padding-left:  var(--large);
            padding-right:  var(--large);
        }

        .m-p0-tl{
            padding-top: 0;
            padding-left: 0;
        }
        .m-ps-tl{
            padding-top: var(--small);
            padding-left: var(--small);
        }
        .m-pm-tl{
            padding-top: var(--medium);
            padding-left: var(--medium);
        }
        .m-pl-tl{
            padding-top:  var(--large);
            padding-left:  var(--large);
        }

        .m-p0-tr{
            padding-top: 0;
            padding-right: 0;
        }
        .m-ps-tr{
            padding-top: var(--small);
            padding-right: var(--small);
        }
        .m-pm-tr{
            padding-top: var(--medium);
            padding-right: var(--medium);
        }
        .m-pl-tr{
            padding-top:  var(--large);
            padding-right:  var(--large);
        }

        .m-p0-bl{
            padding-bottom: 0;
            padding-left: 0;
        }
        .m-ps-bl{
            padding-bottom: var(--small);
            padding-left: var(--small);
        }
        .m-pm-bl{
            padding-bottom: var(--medium);
            padding-left: var(--medium);
        }
        .m-pl-bl{
            padding-bottom:  var(--large);
            padding-left:  var(--large);
        }

        .m-p0-br{
            padding-bottom: 0;
            padding-right: 0;
        }
        .m-ps-br{
            padding-bottom: var(--small);
            padding-right: var(--small);
        }
        .m-pm-br{
            padding-bottom: var(--medium);
            padding-right: var(--medium);
        }
        .m-pl-br{
            padding-bottom:  var(--large);
            padding-right:  var(--large);
        }

        .m-p0-tbl{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .m-ps-tbl{
            padding-top: var(--small);
            padding-bottom: var(--small);
            padding-left: var(--small);
        }
        .m-pm-tbl{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
            padding-left: var(--medium);
        }
        .m-pl-tbl{
            padding-top:  var(--large);
            padding-bottom:  var(--large);
            padding-left:  var(--large);
        }

        .m-p0-tbr{
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
        }
        .m-ps-tbr{
            padding-top: var(--small);
            padding-bottom: var(--small);
            padding-right: var(--small);
        }
        .m-pm-tbr{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
            padding-right: var(--medium);
        }
        .m-pl-tbr{
            padding-top:  var(--large);
            padding-bottom:  var(--large);
            padding-right:  var(--large);
        }

        .m-p0-tlr{
            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .m-ps-tlr{
            padding-top: var(--small);
            padding-right: var(--small);
            padding-left: var(--small);
        }
        .m-pm-tlr{
            padding-top: var(--medium);
            padding-right: var(--medium);
            padding-left: var(--medium);
        }
        .m-pl-tlr{
            padding-top:  var(--large);
            padding-right:  var(--large);
            padding-left:  var(--large);
        }

        .m-p0-blr{
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .m-ps-blr{
            padding-bottom: var(--small);
            padding-right: var(--small);
            padding-left: var(--small);
        }
        .m-pm-blr{
            padding-bottom: var(--medium);
            padding-right: var(--medium);
            padding-left: var(--medium);
        }
        .m-pl-blr{
            padding-bottom:  var(--large);
            padding-right:  var(--large);
            padding-left:  var(--large);
        }
    /* m-p END*/
}
/*desktop*/
@media (min-width: 1280px){
    /* l-m START*/
        .l-m0{
            margin: 0;
        }
        .l-ms{
            margin: var(--small);
        }
        .l-mm{
            margin: var(--medium);
        }
        .l-ml{
            margin: var(--large);
        }

        .l-m0-t{
            margin-top: 0;
        }
        .l-ms-t{
            margin-top: var(--small);
        }
        .l-mm-t{
            margin-top: var(--medium);
        }
        .l-ml-t{
            margin-top: var(--large);
        }

        .l-m0-b{
            margin-bottom: 0;
        }
        .l-ms-b{
            margin-bottom: var(--small);
        }
        .l-mm-b{
            margin-bottom: var(--medium);
        }
        .l-ml-b{
            margin-bottom: var(--large);
        }

        .l-m0-tb{
            margin-top: 0;
            margin-bottom: 0;
        }
        .l-ms-tb{
            margin-top: var(--small);
            margin-bottom: var(--small);
        }
        .l-mm-tb{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
        }
        .l-ml-tb{
            margin-top:  var(--large);
            margin-bottom: var(--large);
        }

        .l-m0-l{
            margin-left: 0;
        }
        .l-ms-l{
            margin-left: var(--small);
        }
        .l-mm-l{
            margin-left: var(--medium);
        }
        .l-ml-l{
            margin-left:  var(--large);
        }

        .l-m0-r{
            margin-right: 0;
        }
        .l-ms-r{
            margin-right: var(--small);
        }
        .l-mm-r{
            margin-right: var(--medium);
        }
        .l-ml-r{
            margin-right:  var(--large);
        }

        .l-m0-lr{
            margin-left: 0;
            margin-right: 0;
        }
        .l-ms-lr{
            margin-left: var(--small);
            margin-right: var(--small);
        }
        .l-mm-lr{
            margin-left: var(--medium);
            margin-right: var(--medium);
        }
        .l-ml-lr{
            margin-left:  var(--large);
            margin-right:  var(--large);
        }

        .l-m0-tl{
            margin-top: 0;
            margin-left: 0;
        }
        .l-ms-tl{
            margin-top: var(--small);
            margin-left: var(--small);
        }
        .l-mm-tl{
            margin-top: var(--medium);
            margin-left: var(--medium);
        }
        .l-ml-tl{
            margin-top:  var(--large);
            margin-left:  var(--large);
        }

        .l-m0-tr{
            margin-top: 0;
            margin-right: 0;
        }
        .l-ms-tr{
            margin-top: var(--small);
            margin-right: var(--small);
        }
        .l-mm-tr{
            margin-top: var(--medium);
            margin-right: var(--medium);
        }
        .l-ml-tr{
            margin-top:  var(--large);
            margin-right:  var(--large);
        }

        .l-m0-bl{
            margin-bottom: 0;
            margin-left: 0;
        }
        .l-ms-bl{
            margin-bottom: var(--small);
            margin-left: var(--small);
        }
        .l-mm-bl{
            margin-bottom: var(--medium);
            margin-left: var(--medium);
        }
        .l-ml-bl{
            margin-bottom:  var(--large);
            margin-left:  var(--large);
        }

        .l-m0-br{
            margin-bottom: 0;
            margin-right: 0;
        }
        .l-ms-br{
            margin-bottom: var(--small);
            margin-right: var(--small);
        }
        .l-mm-br{
            margin-bottom: var(--medium);
            margin-right: var(--medium);
        }
        .l-ml-br{
            margin-bottom:  var(--large);
            margin-right:  var(--large);
        }

        .l-m0-tbl{
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
        .l-ms-tbl{
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-left: var(--small);
        }
        .l-mm-tbl{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
            margin-left: var(--medium);
        }
        .l-ml-tbl{
            margin-top:  var(--large);
            margin-bottom:  var(--large);
            margin-left:  var(--large);
        }

        .l-m0-tbr{
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
        }
        .l-ms-tbr{
            margin-top: var(--small);
            margin-bottom: var(--small);
            margin-right: var(--small);
        }
        .l-mm-tbr{
            margin-top: var(--medium);
            margin-bottom: var(--medium);
            margin-right: var(--medium);
        }
        .l-ml-tbr{
            margin-top:  var(--large);
            margin-bottom:  var(--large);
            margin-right:  var(--large);
        }

        .l-m0-tlr{
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .l-ms-tlr{
            margin-top: var(--small);
            margin-right: var(--small);
            margin-left: var(--small);
        }
        .l-mm-tlr{
            margin-top: var(--medium);
            margin-right: var(--medium);
            margin-left: var(--medium);
        }
        .l-ml-tlr{
            margin-top:  var(--large);
            margin-right:  var(--large);
            margin-left:  var(--large);
        }

        .l-m0-blr{
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
        }
        .l-ms-blr{
            margin-bottom: var(--small);
            margin-right: var(--small);
            margin-left: var(--small);
        }
        .l-mm-blr{
            margin-bottom: var(--medium);
            margin-right: var(--medium);
            margin-left: var(--medium);
        }
        .l-ml-blr{
            margin-bottom:  var(--large);
            margin-right:  var(--large);
            margin-left:  var(--large);
        }
    /* l-m END*/

    /* l-p START*/
        .l-p0{
            padding: 0;
        }
        .l-ps{
            padding: var(--small);
        }
        .l-pm{
            padding: var(--medium);
        }
        .l-pl{
            padding: var(--large);
        }

        .l-p0-t{
            padding-top: 0;
        }
        .l-ps-t{
            padding-top: var(--small);
        }
        .l-pm-t{
            padding-top: var(--medium);
        }
        .l-pl-t{
            padding-top: var(--large);
        }

        .l-p0-b{
            padding-bottom: 0;
        }
        .l-ps-b{
            padding-bottom: var(--small);
        }
        .l-pm-b{
            padding-bottom: var(--medium);
        }
        .l-pl-b{
            padding-bottom: var(--large);
        }

        .l-p0-tb{
            padding-top: 0;
            padding-bottom: 0;
        }
        .l-ps-tb{
            padding-top: var(--small);
            padding-bottom: var(--small);
        }
        .l-pm-tb{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
        }
        .l-pl-tb{
            padding-top:  var(--large);
            padding-bottom: var(--large);
        }

        .l-p0-l{
            padding-left: 0;
        }
        .l-ps-l{
            padding-left: var(--small);
        }
        .l-pm-l{
            padding-left: var(--medium);
        }
        .l-pl-l{
            padding-left:  var(--large);
        }

        .l-p0-r{
            padding-right: 0;
        }
        .l-ps-r{
            padding-right: var(--small);
        }
        .l-pm-r{
            padding-right: var(--medium);
        }
        .l-pl-r{
            padding-right:  var(--large);
        }

        .l-p0-lr{
            padding-left: 0;
            padding-right: 0;
        }
        .l-ps-lr{
            padding-left: var(--small);
            padding-right: var(--small);
        }
        .l-pm-lr{
            padding-left: var(--medium);
            padding-right: var(--medium);
        }
        .l-pl-lr{
            padding-left:  var(--large);
            padding-right:  var(--large);
        }

        .l-p0-tl{
            padding-top: 0;
            padding-left: 0;
        }
        .l-ps-tl{
            padding-top: var(--small);
            padding-left: var(--small);
        }
        .l-pm-tl{
            padding-top: var(--medium);
            padding-left: var(--medium);
        }
        .l-pl-tl{
            padding-top:  var(--large);
            padding-left:  var(--large);
        }

        .l-p0-tr{
            padding-top: 0;
            padding-right: 0;
        }
        .l-ps-tr{
            padding-top: var(--small);
            padding-right: var(--small);
        }
        .l-pm-tr{
            padding-top: var(--medium);
            padding-right: var(--medium);
        }
        .l-pl-tr{
            padding-top:  var(--large);
            padding-right:  var(--large);
        }

        .l-p0-bl{
            padding-bottom: 0;
            padding-left: 0;
        }
        .l-ps-bl{
            padding-bottom: var(--small);
            padding-left: var(--small);
        }
        .l-pm-bl{
            padding-bottom: var(--medium);
            padding-left: var(--medium);
        }
        .l-pl-bl{
            padding-bottom:  var(--large);
            padding-left:  var(--large);
        }

        .l-p0-br{
            padding-bottom: 0;
            padding-right: 0;
        }
        .l-ps-br{
            padding-bottom: var(--small);
            padding-right: var(--small);
        }
        .l-pm-br{
            padding-bottom: var(--medium);
            padding-right: var(--medium);
        }
        .l-pl-br{
            padding-bottom:  var(--large);
            padding-right:  var(--large);
        }

        .l-p0-tbl{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .l-ps-tbl{
            padding-top: var(--small);
            padding-bottom: var(--small);
            padding-left: var(--small);
        }
        .l-pm-tbl{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
            padding-left: var(--medium);
        }
        .l-pl-tbl{
            padding-top:  var(--large);
            padding-bottom:  var(--large);
            padding-left:  var(--large);
        }

        .l-p0-tbr{
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
        }
        .l-ps-tbr{
            padding-top: var(--small);
            padding-bottom: var(--small);
            padding-right: var(--small);
        }
        .l-pm-tbr{
            padding-top: var(--medium);
            padding-bottom: var(--medium);
            padding-right: var(--medium);
        }
        .l-pl-tbr{
            padding-top:  var(--large);
            padding-bottom:  var(--large);
            padding-right:  var(--large);
        }

        .l-p0-tlr{
            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .l-ps-tlr{
            padding-top: var(--small);
            padding-right: var(--small);
            padding-left: var(--small);
        }
        .l-pm-tlr{
            padding-top: var(--medium);
            padding-right: var(--medium);
            padding-left: var(--medium);
        }
        .l-pl-tlr{
            padding-top:  var(--large);
            padding-right:  var(--large);
            padding-left:  var(--large);
        }

        .l-p0-blr{
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
        }
        .l-ps-blr{
            padding-bottom: var(--small);
            padding-right: var(--small);
            padding-left: var(--small);
        }
        .l-pm-blr{
            padding-bottom: var(--medium);
            padding-right: var(--medium);
            padding-left: var(--medium);
        }
        .l-pl-blr{
            padding-bottom:  var(--large);
            padding-right:  var(--large);
            padding-left:  var(--large);
        }
    /* l-p END*/
}