<mat-card>
  <mat-card-header>
      <mat-card-title>
          <h1>Aanmaken project</h1>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form name="createForm" #registerForm="ngForm" (ngSubmit)="insertNewProject()">
        <mat-form-field class="" style="margin-top: 20px">
          <input matInput #projectName name="projectName"  required [(ngModel)]="project.projectName" #projectName="ngModel">
        </mat-form-field><br>
        <mat-form-field class="">
          <input matInput name="projectDescription" required [(ngModel)]="project.projectDescription" #projectDescription="ngModel">
        </mat-form-field><br>
        <mat-form-field>
          <mat-select [(ngModel)]="selectdCustomer" placeholder="Kies een klant" name="customer">
            <mat-option *ngFor="let customer of customers" [value]="customer.customer_id">
              {{ customer.customer_name }}
            </mat-option>
          </mat-select>
        </mat-form-field><br><br>
          <button mat-raised-button type="submit" class="mat-primary" >Toevoegen</button>
      </form>
  </mat-card-content>
</mat-card>