<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- Sprint_name Column -->  
    <ng-container matColumnDef="sprint_name">
      <mat-header-cell *matHeaderCellDef> Sprint </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sprint_name}} </mat-cell>
    </ng-container>

    <!-- Project_name Column -->
    <ng-container matColumnDef="project_name">
      <mat-header-cell *matHeaderCellDef> Project </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.project_name}} </mat-cell>
    </ng-container>

    <!-- Sprint_description Column -->
    <ng-container matColumnDef="sprint_description">
      <mat-header-cell *matHeaderCellDef> Sprint Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sprint_description}} </mat-cell>
    </ng-container>

    <!-- sprint_start_date Column -->
    <ng-container matColumnDef="sprint_start_date">
      <mat-header-cell *matHeaderCellDef> Start date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sprint_start_date}} </mat-cell>
    </ng-container>

    <!-- Sprint_end_date Column -->
    <ng-container matColumnDef="sprint_end_date">
      <mat-header-cell *matHeaderCellDef> End date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sprint_end_date}} </mat-cell>
    </ng-container>    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>