<mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Wijzigen Category</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form name="updateForm" #registerForm="ngForm" (ngSubmit)="createCategory()">
              <mat-form-field class="" style="margin-top: 20px">
                <input matInput #categoryName name="categoryName"  required [(ngModel)]="selectedCategory.categoryName" #categoryName="ngModel">
              </mat-form-field><br>
              <mat-form-field class="">
                <input matInput name="categoryDescription"  #categoryDescription required [(ngModel)]="selectedCategory.categoryDescription" #categoryDescription="ngModel">
              </mat-form-field><br>
      
            
      
              <mat-form-field class="">
                <input matInput type="date" name="categoryEndDate"  #categoryEndDate required [(ngModel)]="selectedCategory.categoryEndDate" #categoryEndDate="ngModel">
              </mat-form-field><br>
      
              <mat-form-field class="">
                <input matInput type="date" name="categoryStartDate"  #categoryStartDate required [(ngModel)]="selectedCategory.categoryStartDate" #categoryStartDate="ngModel">
              </mat-form-field><br>
      
              <mat-form-field>
                <mat-select [(ngModel)]="selectedProject"  placeholder="Kies een project" name="customer">
                  <mat-option *ngFor="let project of projects" [value]="project.projectId">
                    {{ project.projectName }}
                  </mat-option>
                </mat-select>
              </mat-form-field><br>
                    <br>
                <button mat-raised-button type="submit" class="btn btn-primary btn-sm" >Wijzigen</button>
            </form>
        </mat-card-content>
      </mat-card>